@import "../../scss/mixines.scss";

.Knight {
    width: 100%;
    height: 100%;
    opacity: 1;
    font-size: 25;
    font-weight: 'bold';
    cursor: 'move';
    color: inherit;
    @include flexCenter();

    // & svg {
    //     width: 100%;
    //     height: 100%;
    // }

    & img {
        width: 80%;
        height: 80%;
    }
}

.Knight.drag {
    opacity: 0.5;
}